name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:
      buildType:
        description: 'Build type'
        required: true
        default: 'release'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Java 11
        run: |
          wget https://download.java.net/java/GA/jdk9/9/binaries/openjdk-9_linux-x64_bin.tar.gz
          tar -xzf openjdk-11_linux-x64_bin.tar.gz  
          mv jdk-9 $HOME/jdk-11
          echo "JAVA_HOME=$HOME/jdk-11" >> $GITHUB_ENV
          echo "$HOME/jdk-11/bin" >> $GITHUB_PATH
          java -version

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle Wrapper (using Java 11)
        run: ./gradlew clean build

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: Blender-v1.${{ github.run_number }}
          path: build/libs/*.jar

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4

  release:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'

    steps:
      - name: Download JAR artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: Blender-v1.${{ github.run_number }}

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v1.${{ github.run_number }}
          release_name: Release v1.0.${{ github.run_number }}
          draft: false
          prerelease: false

      - name: Upload JAR to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Blender-jar/*.jar
          asset_name: Blender-v1.${{ github.run_number }}.jar
          asset_content_type: application/java-archive
